In [7]:
# by Christopher Madden

import pandas as pd
import matplotlib.pyplot as plt

In [21]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RSH1OZ87OYK92,2,2,3,N,N
1,R1WFOQ3N9BO65I,5,0,0,N,Y
2,R3YOOS71KM5M9,5,0,0,N,Y
3,R3R14UATT3OUFU,5,0,0,N,Y
4,RV2W9SGDNQA2C,5,0,0,N,Y

In [9]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145431 entries, 0 to 145430
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   review_id          145431 non-null  object
 1   star_rating        145431 non-null  int64
 2   helpful_votes      145431 non-null  int64
 3   total_votes        145431 non-null  int64
 4   vine               145431 non-null  object
 5   verified_purchase  145431 non-null  object
dtypes: int64(3), object(3)
memory usage: 6.7+ MB

In [10]:
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1436,R17V95WYC9ZXDD,1,0,20,N,Y
1594,R235HEIYY15NZX,1,0,26,N,Y

In [11]:
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

In [12]:
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [13]:
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

In [14]:
count_vine = len(vine_reviews)
count_vine

0

In [15]:
count_nonvine = len(not_vine_reviews)
count_nonvine

1685

In [16]:
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

0

In [17]:
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

631

In [18]:
max_rating_vine/count_vine

ZeroDivisionError: division by zero

In [19]:
max_rating_nonvine/count_nonvine

0.3744807121661721